<div class="external-links">
  <p>
    <span class="context">github</span>
    <a href="https://github.com/prplecake" id="ext-link-gh">prplecake</a>
  </p>
  <p>
    <span class="context">fediverse</span>
    <a rel="me" href="https://compostintraining.club/@prplecake" id="ext-link-mastodon">@prplecake@compostintraining.club</a>
  </p>
  <p>
    <span class="context">email</span>
    <a href="mailto:me@prplecake.com" id="ext-link-email">me@prplecake.com</a>
  </p>
  <p>
    <span class="context">age</span>
    <a href="/age_publickey.txt" id="link-age">age1dsjqf5lj4pq0luactsx...</a>
  <p>
    <span class="context">pgp</span>
    <a href="/pgp_publickey.txt" id="link-pgp">5C3C6C19379A53AC</a>
  </p>
  <p class="text-muted">
    <a href="/find" style="color:#757575" target="_self" id="link-more">more</a>
  </p>
</div>
