<div class="external-links">
  <p>
    <span class="context">github</span>
    <a href="https://github.com/prplecake">prplecake</a>
  </p>
  <p>
    <span class="context">fediverse</span>
    <a rel="me" href="https://compostintraining.club/@prplecake">@prplecake@compostintraining.club</a>
  </p>
  <p>
    <span class="context">email</span>
    <a href="mailto:me@prplecake.com">me@prplecake.com</a>
  </p>
  <p>
    <span class="context">age</span>
    <a href="/age_publickey.txt">age1dsjqf5lj4pq0luactsx...</a>
  <p>
    <span class="context">pgp</span>
    <a href="/pgp_publickey.txt">5C3C6C19379A53AC</a>
  </p>
  <p class="text-muted">
    <a href="/find" style="color:#757575" target="_self">more</a>
  </p>
</div>
