<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Document Settings -->
    <meta http-equiv="Content-Type" content="text/html" charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Page Meta -->
    <title>
        {% if page.title %}
        {{ page.title }} - {{ site.title }} 
        {% else %}
        {{ site.title }}
        {% endif %}
    </title>
    <meta name="description=" content="True" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <script src="https://cdn.usefathom.com/script.js" data-site="PILGWFFD" defer></script>


    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    {% seo title=false %}
</head>

<body>
    <div class="container">
        <header>
            <h1 class="page-title">
                {% if page.title %}
                {{ page.title }}
                {% else %}
                {{ site.title }}
                {% endif %}
            </h1>

            <navigation>
                {%- include navigation.html -%}
            </navigation>
        </header>

        {{ content }}

        </div>
    </div>
</body>
</html>
