---
layout: bare
---


<body>

        {{ content }}

            {% if page.url != '/' %}
            <div class="recent-posts">
                {%- include widget-recent-posts.html -%}
            </div>
            {% endif %}
            
        <div class="widgets">
            <div class="widget-column-1">
                <div class="author-bio">
                    {%- include widget-author-bio.html name="prplecake" -%}
                </div>
            </div>
            <div class="widget-column-2">
                <div class="external-links">
                    {%- include widget-external-links.html -%}
                </div>

                {%- include footer.html -%}
            </div>
        </div>
</body>
</html>
